<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <input type="text"
               placeholder="Type state here"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)='selectState($event.option.value)' autoActiveFirstOption
                          #auto="matAutocomplete">
            <mat-option *ngFor="let option of statesList | async" [value]="option.name">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
